.menu {
    position: absolute;
    top: 55.60px;
    left: 0;
    height: 100vh;
    width: 72px;
    background-color: #272727;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
}

.menuCell {
    max-width: 100vh;
    height: 72px;
    background-color: #272727;
}

.content {
    margin: 0;
    position: relative;
    top: 25%;
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.menuCell:hover {
    background-color: grey;
    cursor: pointer;
}

.menuCell img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menuCell p {
    text-align: center;
    font-size: 10px;
}

.form-search {
    width: 50%;
    display: flex;
    align-items: center;
}

.input-search {
    width: 100%;
    height: 34px;
    padding: 2px 8px;
    border: 1px solid black;
}

.button-search {
    width: 65px;
    height: 34px;
    padding: 1px 7px;
}