#movieInfo, #actor, #film, .actorInfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
}

#movieInfo {
    height: 94vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-shadow: 1px 1px black;
}

#poster {
    margin-top: 60px;
    margin-left: 75px;
    margin-right: 60px;
}

#poster img{
    width: 350px;
}

#trailer {
    margin: 0 10%;
}

#trailer iframe {
}

#infoBoxe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tagline {
    align-self: center;
    margin: 40px auto;
}

#actors, #films, #crew, #comments {
    margin: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.actor, .movieSmall {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
}

.actor div {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.actor div:hover {
    border: 2px solid darkorange;
}

.actor a {
    color: white;
}

#yearRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

#rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}
#movieLenght {
    width: 99%;
}

#subtitle {
    margin-bottom: 20px;
}

.actorInfo {
    margin-left: 75px;
}

.actorInfo img {
    height: 300px;
    margin: 0 5% 0 0;
}

.actorInfo p {
    margin-top: 10px;
}

#synopsis {
    border-top: 4px solid black;
    padding-top: 10px;
}

#lengthGenres {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#genres {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.genre {
    margin: 0 10px;
}

#genres a {
    color: white;
}
