.menu-settings .cell {
    padding: 5px;
    padding-left: 50px;
}

.menu-settings .cell:hover {
    background-color: grey;
}

h3 {
    color: white;
}

.input-form label .label {
    color: white;
}

.input-form input {
    color: white;
}


.menu-settings p {
    color: white;
    vertical-align: center;

}

.settings-form {
    width: 50%;
}