.menu-settings .cell {
    padding: 5px;
    padding-left: 50px;
}

.full {
    min-height: calc(50vh);
}

.menu-settings .cell:hover {
    background-color: grey;
}

h3 {
    color: white;
}

.settings .input-form label .label, .settings .input-form input {
    color: white;
}

.settings-form .labelImage {
    display: block;
    margin: auto;
}

.label-language {
    display: block;
    color: white;
}

.menu-settings p {
    color: white;
    vertical-align: center;
}

.settings-form {
    width: 50%;
}