.navbar {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-img {
    margin-left: 7px;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 45px);
    width: 72px;
    background-color: #272727;

}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
}

.menuCell {
    height: 72px;
    background-color: #272727;
}

.menuCell p {
    color: rgb(121, 111, 111);
}

.content {
    margin: 0;
    position: relative;
    top: 25%;
}

.brand {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 5px;
}

.brand:hover {
    color: grey;
    text-decoration: none;
}

.menuCell:hover {
    background-color: grey;
    cursor: pointer;
}

.menuCell img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menuCell p {
    color: white;
    text-align: center;
    font-size: 10px;
}

.form-search {
    width: 33%;
    display: flex;
    align-items: center;
}

.input-search {
    width: 100%;
    height: 34px;
    padding: 2px 8px;
    border: 1px solid black;
    background-color: #111111;
    color: white;
}

.button-search {
    width: 65px;
    height: 34px;
    padding: 1px 7px;
    background-color: #393939;
    border: none;
}

@media screen and (max-width: 992px) {
    .profile-avatar, .brand {
        display: none;
    }
    
    .form-search {
        width: 80%;
    }
}